#textdomain wesnoth-creep_war

#define CW_SHOP_NEW_WEAPON WEAPON_NAME DESCR IMAGE PRICE NUM EFFECT
	[option]
		message={MENU_IMG_TXT {IMAGE} "<span color='#00FF00'>{WEAPON_NAME}</span>
<span size='small' weight='light'>{DESCR}</span>
<span size='small'>$cw_text_cost: {PRICE} gold</span>"}
		[show_if]
			{CW_SHOP_ENOUGH_GOLD {PRICE}}
			[not]
				[variable]
					name=have_weapon_$side_number|_{NUM}
					equals=yes
					[/variable]
				[/not]
			[/show_if]
		[command]
			[set_variable]
				name=have_weapon_$side_number|_{NUM}
				value=yes
			[/set_variable]
			{CW_SHOP_CHARGE_GOLD {PRICE}}
			[object]
				silent=yes
				{EFFECT}
			[/object]
			[if]
				[variable]
					name=have_weapon_$side_number|_15			#	If you have a shield
					equals=yes
				[/variable]
				[then]
					[object]
						silent=yes
						[effect]
							apply_to=remove_attacks
							name=shield_melee
						[/effect]
						[effect]
							apply_to=remove_attacks
							name=shield_ranged
						[/effect]
					[/object]
					[object]
						silent=yes
						[effect]
							apply_to=new_attack
							name=shield_melee
							description= _ "shield"
							[specials]
								{shield_30}
							[/specials]
							icon=icons/shield_tower_merfolk.png
							range=melee
							type=none
							attack_weight=0
							damage=0
							number=0
						[/effect]
						[effect]
							apply_to=new_attack
							name=shield_ranged
							description= _ "shield"
							[specials]
								{shield_30}
							[/specials]
							icon=icons/shield_tower_merfolk.png
							range=ranged
							type=none
							attack_weight=0
							damage=0
							number=0
						[/effect]
					[/object]
				[/then]
			[/if]
		[/command]
	[/option]
	[option]
		message={MENU_IMG_TXT {IMAGE} "<span color='#FF0000'>{WEAPON_NAME}</span>
<span size='small' weight='light'>{DESCR}</span>
<span size='small'>$cw_text_cost: {PRICE} gold</span>"}
		[show_if]
				[variable]
					name=gold
					less_than={PRICE}
				[/variable]
				[not]
					[variable]
						name=have_weapon_$side_number|_{NUM}
						equals=yes
					[/variable]
				[/not]
		[/show_if]
	[/option]
	[option]
		message={MENU_IMG_TXT {IMAGE} "<span color='#7777DD'>{WEAPON_NAME}</span>
<span size='small' weight='light'>{DESCR}</span>"}
		[show_if]
			[variable]
				name=have_weapon_$side_number|_{NUM}
				equals=yes
			[/variable]
		[/show_if]
	[/option]
	
#enddef
