[event]
	name=preload
	first_time_only=no
	[lua]
		#ifver WESNOTH_VERSION >= 1.13.0
			code = {./unit_analyze_wesnoth13.lua}
		#else
			code = {./unit_analyze_wesnoth12.lua}
		#endif
	[/lua]
	[lua]
		code = {./random_creep_generator.lua}
	[/lua]
	[lua]
		code = {./scoreboard.lua}
	[/lua]
	[lua]
		code = {./shop_heal.lua}
	[/lua]
[/event]

[event]
	name=turn refresh
	first_time_only=no
	[lua]
		code = {./do_creep_respawn.lua}
	[/lua]
[/event]

[event]
	name=turn 1
	first_time_only=no
	[lua]
		code = {./dialog.lua}
	[/lua]
	[lua]
		code = {./config_user.lua}
	[/lua]
	[lua]
		code = {./leaders_mirror_style.lua}
		[args]
			event_name="turn 1"
		[/args]
	[/lua]

	[lua]
		code = {./fog_remove.lua}
	[/lua]

	[lua]
		code = {./plan_your_advancements.lua}
	[/lua]
	[set_menu_item]
		id=creepwars_advance_menu
		description=Pick Advancement
		[show_if]
			[have_unit]
				x=$x1
				y=$y1
				lua_function=creepwars_advancement_menu
			[/have_unit]
		[/show_if]
		[command]
			[lua]
				code = << creepwars.choose_upgrades() >>
			[/lua]
		[/command]
	[/set_menu_item]

[/event]

[event]
	name=moveto
	first_time_only=no
	[lua]
		code= << creepwars.moveto_event() >>
	[/lua]
[/event]

[event]
	name=side turn,side turn end
	first_time_only=no
	[lua]
		code= << creepwars.heal_static() >>
	[/lua]
[/event]


[event]
	name=turn 1, turn 2
	first_time_only=no
	[lua]
		code = {./fog_label_leader.lua}
	[/lua]
[/event]
