#### events that should happen BEFORE legacy CW events

[event]
	name=preload
	first_time_only=no
	[lua]
		code = {./utils.lua}
	[/lua]
	[lua]
		code = {./config.lua}
	[/lua]
[/event]

[event]
	name=preload
	first_time_only=no
	[lua]
		code = {./memoize.lua}
	[/lua]
	[lua]
		code = {./init_legacy_variables.lua}
	[/lua]
[/event]

[event]
	name=prestart
	first_time_only=no
	[lua]
		code = {./sync_choice.lua}
	[/lua]
	[lua]
		code = {./dialog.lua}
	[/lua]
	[lua]
		code = {./config_user.lua}
	[/lua]
	[lua]
		code = {./leaders_mirror_style.lua}
	[/lua]
[/event]

[event]
	name=die
	first_time_only=no
	[lua]
		code = {./event_die.lua}
	[/lua]
[/event]
