#textdomain wesnoth-creep_war

#define CW_INIT_ADVANCEMENT
	[store_unit]
		[filter]
			canrecruit=yes
			side={CW_PLAYER_SIDES}
			[/filter]
		variable=heroes
		[/store_unit]
	{FOREACH heroes i}
		{VARIABLE heroes[$i].variables.advance $heroes[$i].advances_to}
		{CW_ARRAY_COMMA tmp_unit ($heroes[$i].variables.advance)}
		{VARIABLE heroes[$i].variables.num_advance $tmp_unit.length}
		[unstore_unit]
			variable=heroes[$i]
			[/unstore_unit]
		{CLEAR_VARIABLE tmp_unit}
		{NEXT i}
	{CLEAR_VARIABLE heroes}
#enddef

#define CW_MENU_ADVANCEMENT
	[set_menu_item]
		id=Badvanceto
		description= _ "Pick Advancement"
		[show_if]
			[have_unit]
				side=$side_number
				canrecruit=yes
				x=$x1
				y=$y1
				[/have_unit]
			{VARIABLE_CONDITIONAL unit.variables.num_advance greater_than_equal_to 2}
			[/show_if]
		[command]
			{CLEAR_VARIABLE cw_menu_item}
			{VARIABLE cw_menu_item.message (_ "This unit is set to advance to: $unit.advances_to|" ) }
			{VARIABLE cw_menu_item.speaker unit}
			{VARIABLE cw_menu_item.side_for $side_number}
			{CW_ARRAY_APPEND cw_menu_item.option (message=$cw_text.menu_return)}

			{CW_ARRAY_COMMA advance ($unit.variables.advance)}
			{FOREACH advance i}
				[unit]
					type=$advance[$i].value
					to_variable=unit_advance
					[/unit]
				{CW_ARRAY_APPEND cw_menu_item.option (
					message={MENU_IMG_TXT $unit_advance.image (_ "$advance[$i].value|")}
					[command]
						{VARIABLE unit.advances_to $advance[$i].value}
						[/command]
						)}
				{NEXT i}
			{CW_ARRAY_APPEND cw_menu_item.option (
				message= _ "Choose Later"
				[command]
					{VARIABLE unit.advances_to $unit.variables.advance}
					[/command]
					)}		
			[insert_tag]
				name=message
				variable=cw_menu_item
				[/insert_tag]
			{CLEAR_VARIABLE cw_menu_item,advance}
			[unstore_unit]
				variable=unit
				[/unstore_unit]
			[/command]
		[/set_menu_item]
#enddef

#define CW_EVENT_POST_ADVANCE
[event]
	name=post advance
	first_time_only=no
	{CLEAR_VARIABLE unit.variables.advance}
	{VARIABLE unit.variables.advance $unit.advances_to|}	
	{CW_ARRAY_COMMA tmp ($unit.variables.advance|)}
	{VARIABLE unit.variables.num_advance $tmp.length}
	[unstore_unit]
		variable=unit
		find_vacant=no
		[/unstore_unit]
	{CLEAR_VARIABLE tmp}
	[/event]
#enddef
