#ifdef CREEP_WAR_DOFILE
[event]
	name=preload
	first_time_only=no
	[lua]
		name = json_encode
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/json_encode.lua") >>
	[/lua]
	[lua]
		name = utils
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/utils.lua") >>
	[/lua]
	[lua]
		name = config
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/config.lua") >>
	[/lua]
	[lua]
		name = memoize_sides
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/map/memoize_sides.lua") >>
	[/lua]
	[lua]
		name = dialog
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/dialog.lua") >>
	[/lua]
	[lua]
		name = default_era_creeps
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/unit_analyze/default_era_creeps.lua") >>
	[/lua]
	[lua]
		name = random_creep_generator
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/random_creep_generator.lua") >>
	[/lua]
	[lua]
		name = score_gold_calculator
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/score_gold_calculator.lua") >>
	[/lua]
	[lua]
		name = leader_limbo
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/leader_limbo.lua") >>
	[/lua]
	[lua]
		name = parse_user_options
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/parse_user_options.lua") >>
	[/lua]
	[lua]
		name = side_utils
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/side_utils.lua") >>
	[/lua]
	[lua]
		name = ai_creep_gen
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/ai_creep_gen.lua") >>
	[/lua]
[/event]
#else
[event]
	name=preload
	first_time_only=no
	[lua]
		name = json_encode
		code = {./json_encode.lua}
	[/lua]
	[lua]
		name = utils
		code = {./utils.lua}
	[/lua]
	[lua]
		name = config
		code = {./config.lua}
	[/lua]
	[lua]
		name = memoize_sides
		code = {./map/memoize_sides.lua}
	[/lua]
	[lua]
		name = dialog
		code = {./dialog.lua}
	[/lua]
	[lua]
		name = default_era_creeps
		code = {./unit_analyze/default_era_creeps.lua}
	[/lua]
	[lua]
		name = random_creep_generator
		code = {./random_creep_generator.lua}
	[/lua]
	[lua]
		name = score_gold_calculator
		code = {./score_gold_calculator.lua}
	[/lua]
	[lua]
		name = leader_limbo
		code = {./leader_limbo.lua}
	[/lua]
	[lua]
		name = parse_user_options
		code = {./parse_user_options.lua}
	[/lua]
	[lua]
		name = side_utils
		code = {./side_utils.lua}
	[/lua]
	[lua]
		name = ai_creep_gen
		code = {./ai_creep_gen.lua}
	[/lua]
[/event]
#endif

#ifdef CREEP_WAR_DOFILE
[event]
	name=prestart
	[lua]
		name = init_state
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/init_state.lua") >>
	[/lua]
	[lua]
		name = developer
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/developer.lua") >>
	[/lua]
	[lua]
		name = parse_user_options
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/parse_user_options.lua") >>
	[/lua]
	[lua]
		name = unit_analyze_common
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/unit_analyze/unit_analyze_common.lua") >>
	[/lua]
	[lua]
		name = leaders_mirror_style
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/leaders_mirror_style.lua") >>
	[/lua]
	[lua]
		name = fog_remove
		code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/fog_remove.lua") >>
	[/lua]
	{VARIABLE creepwars_about "{~add-ons/{CREEPWARS_DIR}/doc/about.html}"}
	{VARIABLE creepwars_contacts "{~add-ons/{CREEPWARS_DIR}/doc/contacts.html}"}
	{VARIABLE creepwars_game_rules "{~add-ons/{CREEPWARS_DIR}/doc/game_rules.html}"}
	{VARIABLE creepwars_changelog "{~add-ons/{CREEPWARS_DIR}/doc/changelog.html}"}
	[lua]
		name = documentation
		code = {~add-ons/{CREEPWARS_DIR}/doc/documentation.lua}
	[/lua]
[/event]
#else
[event]
	name=prestart
	[lua]
		name = init_state
		code = {./init_state.lua}
	[/lua]
	[lua]
		name = developer
		code = {./developer.lua}
	[/lua]
	[lua]
		name = parse_user_options
		code = {./parse_user_options.lua}
	[/lua]
	[lua]
		name = unit_analyze_common
		code = {./unit_analyze/unit_analyze_common.lua}
	[/lua]
	[lua]
		name = leaders_mirror_style
		code = {./leaders_mirror_style.lua}
	[/lua]
	[lua]
		name = fog_remove
		code = {./fog_remove.lua}
	[/lua]
	{VARIABLE creepwars_about "{~add-ons/{CREEPWARS_DIR}/doc/about.html}"}
	{VARIABLE creepwars_contacts "{~add-ons/{CREEPWARS_DIR}/doc/contacts.html}"}
	{VARIABLE creepwars_game_rules "{~add-ons/{CREEPWARS_DIR}/doc/game_rules.html}"}
	{VARIABLE creepwars_changelog "{~add-ons/{CREEPWARS_DIR}/doc/changelog.html}"}
	[lua]
		name = documentation
		code = {~add-ons/{CREEPWARS_DIR}/doc/documentation.lua}
	[/lua]
[/event]
#endif

[event]
    name=start
    [lua]
        code=<<
for _, team in ipairs(creepwars.team_array) do
    local active = creepwars.array_filter(team, function(s)
        return #wesnoth.get_units { canrecruit = true, side = s.side } > 0
    end)
    for _, side in ipairs(team) do
        side.gold = side.gold * (6 - #active) / 2
    end
end
>>
    [/lua]
[/event]

{./shop/shop_events.cfg}


[event]
	name=side turn
	first_time_only=no
	[lua]
		name = leader_restore_limbo
		code = << creepwars.leader_restore_limbo() >>
	[/lua]
[/event]


#### helpers for local development. Should not affect public games.
#ifhave ~add-ons/Creep_War_Dev/lua/local_test.lua
[event]
	name=preload
	first_time_only=no
    [set_menu_item]
        id=creepwars_local_test
        description=local test
        [command]
            [lua]
                name = local_test
                code = <<wesnoth.dofile('~add-ons/Creep_War_Dev/lua/local_test.lua')>>
            [/lua]
        [/command]
    [/set_menu_item]
[/event]
#endif


[event]
	name=die
	first_time_only=no
	[lua]
		name = event_die
#ifdef CREEP_WAR_DOFILE
        code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/event_die.lua") >>
#else
		code = {./event_die.lua}
#endif
	[/lua]
[/event]


[event]
	name=turn 1, turn 2
	first_time_only=no
	[lua]
		name = fog_label_leader
#ifdef CREEP_WAR_DOFILE
        code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/fog_label_leader.lua") >>
#else
		code = {./fog_label_leader.lua}
#endif
	[/lua]
[/event]

#ifhave ~add-ons/{CREEPWARS_DIR}/target/about.txt
#ifhave ~add-ons/{CREEPWARS_DIR}/target/version.txt
[event]
	name=preload
	[lua]
		name = advertisement
#ifdef CREEP_WAR_DOFILE
        code = << wesnoth.dofile("~add-ons/Creep_War_Dev/lua/advertisement.lua") >>
#else
		code = {./advertisement.lua}
#endif
		[args]
			name="Creep Wars"
			dir="{CREEPWARS_DIR}"
			about="{~add-ons/{CREEPWARS_DIR}/target/about.txt}"
			icon="{~add-ons/{CREEPWARS_DIR}/doc/icon.txt}"
			version="{~add-ons/{CREEPWARS_DIR}/target/version.txt}"
		[/args]
	[/lua]
[/event]
#endif
#endif