#ifdef MULTIPLAYER

# If addon should work without download, then CREEP_WAR_DOFILE should not be defined
#ifhave ~add-ons/Creep_War_Dev/lua/local_test.lua
#define CREEP_WAR_DOFILE
#enddef
#endif

	#define CREEPWARS_DIR
Creep_War_Dev#enddef

	{./scenarios/Creep_War.cfg}

	#undef CREEPWARS_DIR
#endif
